{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login')}}">login page</a>.
    </div>
{% endif %}
{% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <div class="field">
            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
            </div>
        </form>

        <div class="field">
            <p class="requirements">
            Please Note - Passwords must include at least:
            <ul>
                <li>Minimum Length of 8</li>
                <li>One Uppercase letter</li>
                <li>One Digit</li>
                <li>One Special Character</li>
            </ul>
            </p>
        </div>
    </div>
</div>
{% endblock %}
